body {font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(72deg,rgba(143, 112, 228, 0.85) 10%, hsla(0, 0%, 9%, 0.85) 99%) ;
text-align: center;
overflow-y: hidden;}

nav {text-align: center;
    padding: 50px;
    position: fixed;
    top: 0px;
    left: 800px;
    right: 0px;
font-size: 20px;}

a {text-decoration: none;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #ffffff; 
    font-size: 20px;
    letter-spacing: 0.5px;
    border-radius: 5%;
    padding: 0 10px;
   }

    a:after {
        content:"";
        position: absolute;
        background-color:#ffffff;
        height: 3px;
        width:0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    a:hover { 
        color: #8F70E4;
    }

    a:hover:after {
        width: 100%;
    }

.logo {
    padding: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 700px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
}

header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
}

h1 {color: #ffffff;
font-size: 20px;
text-align: center;
padding: 200px;
margin-top: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
top: 200px;
width: 600px;
font-weight: bold;
}


p {color: #ffffff;
        font-size: 19px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        width: 600px;
        top: 500px;
        text-align: left;
        padding: 220px;
        margin-top:-400px;
    }

    nav a {transition: all 0.5; opacity: 1;}
nav a:hover {opacity: 0.5;}

    .mascote { left: 1200px;;
        position: absolute;
        right: 0px;
        top: 300px;
        margin-top:-100px}

        .rodape {
            font-size: 15px;
            padding: 15px;
            text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100px;}